{% extends "layout.html" %}

{% block title %}Arena{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-left:20px">

    <div class="row">

        <div class="col-md-3">
            <div id="live_board1" class="live_board"></div>
        </div>

        <div class="col-md-6">
            <div class="head">
                <h1>Arena: <b>{{arena}}</b></h1>
                <h4>port: <b>{{port}}</b></h4>
            </div>

            <table id="results_table" class="table table-hover">
            </table>
        </div>
        <div class="col-md-3">
            <div id="live_board2" class="live_board"></div>
        </div>

        <script language="JavaScript">
function loadTable(){
 $('#results_table').load('/results_table', function(){
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
 });
}
setInterval(loadTable, 1000)
loadTable();

var b1=Board('live_board1');
b1.follow();

var b2=Board('live_board2');
b2.follow();





        </script>

    </div>

</div>

{% endblock %}